:root {
  --blanco: #ffffff;
  --negro: #212121;
  --primario: #f57927;
  --secundario: #0097A7;
  
}

html {
  font-size: 62.5%;
  box-sizing: border-box; /*para que no se me modifique el tamaño al añadir pading*/
  scroll-snap-type: y mandatory; /*para que se detenga en las partes que yo quiera*/
}

*, *:before, *:after { /*para que no se me modifique el tamaño al añadir pading. Va con el box-sizing del html*/
  box-sizing: inherit;
}

body{
  font-size: 16px; /* 1rem=10px */
  font-family: 'Rubik', sans-serif;
}


h2{
  font-size: 2.8rem;
}
h3{
  font-size: 1.8rem;
}

h2,h3{ 
  text-align: center;
}

.contenedor {
  max-width: 130rem;
  /*margin: 0 auto 0 auto; ponemos todos los margin en 1 en orden: top, right, bottom, left*/
  margin: 0 auto; /*si solo ponemos 2 el primero es top/bottom y el segundo right/left*/
}

.franja {
  background-color: var(--primario);
  
}
.logo {
  height: 15rem;
}

/*ICONS*/
.colocar-iconos {
  display: flex;
  justify-content: space-between;
}

.fab,
.fas {
  background-color:  #f57927;
  color: white;
  font-size: 24px;
  padding: 0.5rem;
  margin-right: 1.5rem;
}


   





















/* ==========================================================================
   Helper classes
   ========================================================================== */
